* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f3f3f3;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 30px 0;
  background: #343434;
  color: #adadad;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.briefcase {
  cursor: pointer;
}

.top-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.main-page {
  width: 100%;
}

.currency-list {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #343420;
}
.currency-list .item {
  padding: 10px 20px;
  background: #e4e8e9;
  cursor: pointer;
}
.currency-list > *:nth-child(even) {
  background: #eff3f5;
}

.briefcase-modal, .purchase-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.briefcase-modal.active, .purchase-modal.active {
  display: block;
}
.briefcase-modal .content, .purchase-modal .content {
  background: #f3f3f3;
  border-radius: 12px;
  padding: 20px;
}

.currency-page {
  width: 100%;
}